{% if href %}
    <a 
        {% if href == 'edit' %}
            href="{% url 'edit_product' id %}"
        {% elif href == 'delete' %}
            href="#" 
            onclick="confirmDelete(event, '{% url 'delete_product' id %}', '{{ product_name }}')"
        {% elif href == 'add' %}
            href="{% url 'create_product' %}"
        {% elif href == 'logout' %}
            href="{% url 'logout'%}"
        {% else %}
            href="{{ href }}"
        {% endif %}
        class="
            text-center
            font-bold
            w-full 
            bg-{{ color }}-500 text-white hover:bg-{{ color }}-600
            p-2 rounded 
            transition duration-200 ease-in-out
        ">
        {{ text }}
    </a>
{% else %}
    <button 
        type="submit" 
        class="
            text-center
            w-full 
            bg-{{ color }}-500 text-white hover:bg-{{ color }}-600
            p-2 rounded 
            transition duration-200 ease-in-out
        ">
        {{ text }}
    </button>
{% endif %}

<script>
    function confirmDelete(event, url, productName) {        
        if (confirm(`Are you sure you want to delete ${productName}?`)) {
            window.location.href = url;
        } else {
            event.preventDefault();
        }
    }
</script>