<nav class="sticky top-0 bg-white shadow-md p-4 z-50">
    <div class="flex justify-between">
        <div class="font-mono font-bold">ASADELSTORE</div>

        <!-- Desktop Menu -->
        <div class="hidden md:flex">
            <span>{{ user.username }} || PBP {{class}} || {{npm}}</span>
            <div class="w-10"></div>
            <div class="w-20">
                {% include 'button.html' with text='Logout' href='logout' color='red'%}
            </div>
        </div>

        <!-- Mobile Menu Button -->
        <div class="md:hidden">
            <button id="mobile-menu-button">
                <!-- Hamburger Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="flex flex-col gap-4">
        <span>{{ user.username }} || PBP {{class}} || {{npm}}</span>
        {% include 'button.html' with text='Logout' href='logout' color='red'%}
    </div>
</nav>

<script>
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    // Toggle Mobile Menu
    mobileMenuButton.onclick = function () {
        mobileMenu.classList.toggle('hidden');
    };

    // When desktop mode / width is >= 768 (md breakpoint for Tailwind), hide mobile menu
    function hideMobileMenuOnDesktop() {
        if (window.innerWidth >= 768) { 
            mobileMenu.classList.add('hidden');
        }
    }

    // Add previous function as window event listener
    window.addEventListener('resize', hideMobileMenuOnDesktop);

    // Mobile menu is always hidden when the page is loaded
    hideMobileMenuOnDesktop();
</script>
