<div class="border rounded-lg shadow-lg p-4 max-w-xs transition transform hover:shadow-2xl hover:scale-105 w-full">
        
    <div class="mb-4">
        <h3 class="text-lg font-bold">{{ product.name }}</h3>
        <h4 class="text-ellipsis overflow-hidden whitespace-nowrap" title="{{ product.description }}">{{ product.description }}</h3>
    </div>

    <div class="mb-4">
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <p><strong>Stock:</strong> {{ product.stock_available }}</p>
    </div>

    <div class="mb-4">
        {% if product.photo %}
        <img src="{{ product.photo.url }}" class="w-full h-48 object-cover rounded-md">
        {% else %}
            <div class="w-full h-48 bg-gray-200 flex items-center justify-center rounded-md">
                <svg class="w-16 h-16 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm11.707 6.707l-3 3a1 1 0 01-1.414 0l-1.586-1.586a1 1 0 00-1.414 0l-3 3A1 1 0 015 11.293l3-3a1 1 0 011.414 0l1.586 1.586a1 1 0 001.414 0l3-3a1 1 0 011.414 1.414z" clip-rule="evenodd"/>
                </svg>
            </div>
        {% endif %}
    </div>

    <div class="flex justify-between">
        {% include 'button.html' with text='Edit' href='edit' color='blue' id=product.pk %}
        <div class="w-4"></div>
        {% include 'button.html' with text='Delete' href='delete' color='red' id=product.pk product_name=product.name %}
    </div>
</div>


