{% extends 'app.html' %}
{% block content %}
<h1>Asadel Store</h1>

 <!-- 
    Cari cara untuk bisa update style.css nya, style div itu diganti row aja
    ATAU langsung pake tailwind aja :v
 -->

<div style="display: flex; align-items: baseline; gap: 10px;">
    <h5>NPM: </h5>
    <p>{{ npm }}<p>
</div>

<div style="display: flex; align-items: baseline; gap: 10px;">
    <h5>Name:</h5>
    <p>{{ name }}</p>
</div>

<div style="display: flex; align-items: baseline; gap: 10px;">
    <h5>Class:</h5>
    <p>{{ class }}</p>
</div>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<table>

{% if not products %}
<p>There isn't any data yet</p>
{% else %}

<table>
<tr>
<th>Name</th>
<th>Price</th>
<th>Stock Available</th>
<th>Description</th>
<th>Photo</th>
</tr>

{% for product in products %}
<tr>
<td>{{product.name}}</td>
<td>{{product.price}}</td>
<td>{{product.stock_available}}</td>
<td>{{product.description}}</td>
<td>
    {% if product.photo %}
    <img src="{{ product.photo.url }}" style="max-width: 10rem;">
    {% endif %}
</td>
</tr>
{% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'create_product' %}">
<button>Add New Product</button>
</a>
<a href="{% url 'logout' %}">
    <button>Logout</button>
</a>
{% endblock content %}