{% extends 'base.html' %}

{% load static %}

{% block content %}

<div 
    class="
        flex items-center justify-center min-h-screen
    ">
    <div 
        class="
            w-full max-w-md
        ">
        <h2 class="text-center font-extrabold text-3xl">Edit Product</h2>
        <form method='POST' enctype="multipart/form-data"> 
            {% csrf_token %}
            <div class="mb-4 ml-4 mr-4">
                {% include 'input_section.html' with text='Name' type='text' for='name' value=form.name.value %}
                {% include 'input_section.html' with text='Price' type='number' for='price' value=form.price.value %}
                {% include 'input_section.html' with text='Description' type='text' for='description' value=form.description.value %}
                {% include 'input_section.html' with text='Stock Available' type='number' for='stock_available' value=form.stock_available.value %}
                {% include 'input_section.html' with text='Photo' type='file' for='photo' value=form.photo %}
            </div>
            <div class="mb-4 ml-4 mr-4">
                {% include 'button.html' with text='Submit' color='blue'%}
            </div>
        </form>
    </div>
</div>

{% endblock %}