{% extends "base.html" %}

{% block meta %}
    <title>Login Page</title>
{% endblock meta %}

{% block content %}
<div 
    class="
        flex items-center justify-center min-h-screen
    ">
    <div 
        class="
            w-full max-w-md
        ">
        <h2 class="text-center font-extrabold text-3xl">Login</h2>
        <form method='POST' action=''> 
            {% csrf_token %}
            <div class="mb-4 ml-4 mr-4">
              {% include 'input_section.html' with text='Username' type='username'  for='username'%}
              {% include 'input_section.html' with text='Password' type='password' for='password' %}
            </div>
            <div class="mr-4 ml-4">
              {% include 'button.html' with text='Submit' color='blue'%}
            </div>
        </form>
        {% if messages %}
          <ul class="mb-4 text-red-600">
            {% for message in messages %}
              <li class="mb-2">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <p class="text-center mr-4 ml-4">
          Don't have an account yet?
          <a href="{% url 'register' %}" class="text-blue-500 hover:underline">Register Now</a>
        </p>
    </div>
</div>
{% endblock content %}