{% extends 'base.html' %}
{% block content %}

{% include 'navbar.html' %}

{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message | safe }}
</div>
{% endfor %}

<div class="p-4 flex justify-between">
    <h5><span class="font-semibold">Sesi terakhir login</span>: <br>{{ last_login }}</h5>
    <div class="w-18">{% include 'button.html' with text='Add Product' href='add' color='blue'%}</div>
</div>

<table>

{% if not products %}

<div class="flex flex-col items-center justify-center h-64">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 mb-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2a10 10 0 100 20 10 10 0 000-20zm-2 14h4m-4-8h.01M16.5 8.5a.5.5 0 11-.5-.5.5.5 0 01.5.5zm-9 0a.5.5 0 11-.5-.5.5.5 0 01.5.5z"/>
    </svg>
    <p>No products available.</p>
</div>

{% else %}

<div class="p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center">
    {% for product in products %}
        {% include 'product_card.html' %}
    {% endfor %}
</div>

{% endif %}

{% endblock content %}
